<ion-item-sliding>

  <ion-item-options side='start'>
    <ion-item-option color='danger' >
      <ion-icon slot="icon-only" name='add-circle-outline'></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item>
    <ion-label [color]="lblColor" >
      {{exercise?.name}}
    </ion-label>

<!--    <ion-icon  name='checkmark-circle' color='success' ></ion-icon>-->
    <!--    <ion-icon *ngIf='!task.done' name='checkmark'-->
    <!--              (click)='tskService.toggleTaskStatus(task.id)'></ion-icon>-->
  </ion-item>

</ion-item-sliding>
