<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Select Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-button  [disabled]="!exercisesAreFetched" (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select a muscle group"
                  (ionChange)="onMuscleChanged($event)">
        <ion-select-option [value]="{i}" *ngFor="let muscle of muscles; let i = index">{{muscle}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select activity type"
                  (ionChange)="onActivityChanged($event)">
        <ion-select-option [value]="{i}" *ngFor="let activity of activityType; let i = index">{{activity}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select difficulty level"
                  (ionChange)="onDifficultyChanged($event)">
        <ion-select-option [value]="{i}"
                           *ngFor="let difficulty of difficulties; let i = index">{{difficulty}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="ion-margin"
                fill="outline"
                (click)="fetchHandler()"
                expand="block">Look For Exercises</ion-button>
  </ion-list>

  <div class="chosenContainer">
    <ion-list  class="overlayContainer"
               cdkDropList
               #chosenList="cdkDropList"
               [cdkDropListData]="chosenExercises"
               [cdkDropListConnectedTo]="[fetchedList]"
               (cdkDropListDropped)="dropHandler($event)">

      <ion-img *ngIf="chosenExercises.length===0" src="assets/images/drag&drop.png"></ion-img>

      <ion-item  class="overlayList" *ngFor="let exercise of chosenExercises "  >
        <ion-label [color]="lblColorSuccess">
          {{exercise?.name}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-item cdkDropList
            [cdkDropListData]="fetchedExercises"
            [cdkDropListConnectedTo]="[chosenList]"
            #fetchedList="cdkDropList">
<ion-list style="padding-right: 2rem" lines="none">
  <ion-item class="overlayList" *ngFor="let exercise of fetchedExercises " cdkDrag >
    <ion-label >
      {{exercise?.name}}
    </ion-label>
  </ion-item>
</ion-list>

  </ion-item>



</ion-content>
