<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button  [disabled]="!exercisesAreFetched" (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select a muscle group"
                  (ionChange)="onMuscleChanged($event)">
        <ion-select-option [value]="{i}" *ngFor="let muscle of muscles; let i = index">{{muscle}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select activity type"
                  (ionChange)="onActivityChanged($event)">
        <ion-select-option [value]="{i}" *ngFor="let activity of activityType; let i = index">{{activity}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select difficulty level"
                  (ionChange)="onDifficultyChanged($event)">
        <ion-select-option [value]="{i}"
                           *ngFor="let difficulty of difficulties; let i = index">{{difficulty}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="ion-margin"
                fill="outline"
                (click)="fetchHandler()"
                expand="block">Look for fetchedExercises</ion-button>
  </ion-list>


<ion-list  cdkDropList
           #chosenList="cdkDropList"
           [cdkDropListData]="exercises"
           [cdkDropListConnectedTo]="[fetchedList]"
           (cdkDropListDropped)="dropHandler($event)">
  <ion-list-header>
    <ion-label>Drag the fetchedExercises you want to add to your workout</ion-label>
  </ion-list-header>

  <ion-img *ngIf="exercises.length===0" src="assets/images/placeholder.jpg"></ion-img>

  <app-exercise-item *ngFor="let exercise of exercises " cdkDrag [lblColor]="lblColorSuccess" [exercise]="exercise" ></app-exercise-item>
</ion-list>


<ion-list cdkDropList
          [cdkDropListData]="fetchedExercises"
          [cdkDropListConnectedTo]="[chosenList]"
          #fetchedList="cdkDropList">
  <app-exercise-item *ngFor="let exercise of fetchedExercises " cdkDrag [exercise]="exercise" ></app-exercise-item>
</ion-list>

</ion-content>
