<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-stretch">

  <ion-grid>
    <ion-row>
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">
        <ion-item button="-" class="ion-margin-vertical" color="light" (click)="authService.signInWithGoogle()">
          <div slot="start">
            <ion-icon size="large" name="logo-google"></ion-icon>
          </div>
          <ion-label>Login With Google</ion-label>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">

        <ion-item button="" class="ion-margin-vertical" color="light" (click)="authService.signInWithGithub()">
          <div slot="start">
            <ion-icon size="large" name="logo-github"></ion-icon>
          </div>
          <ion-label>Login With Github</ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
