<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="WorkoutNavTab">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Work-Outs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ProgressTab">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="InsightTab">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calender</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
