ion-checkbox {
  --size: 25px;
  --background-checked: #198c93;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid  #198c93;
}

.lbl{
  margin: 0.5rem;
}

.vertical-align-content > *
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}
