<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button [disabled]="workoutExercises.length<=0"
                  [color]="workoutExercises.length<=0 ? '' : 'success'"
                  (click)="goToNextPage()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="workoutExercises.length>0">


    <ion-item-sliding *ngFor="let workoutEx of workoutExercises; let i = index">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)='removeWorkOutExerciseHandler(workoutEx.workoutExercise)'>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>


      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>{{workoutEx.workoutExercise.name}}</ion-label>
          </ion-item>
          <ion-list slot="content">
            <app-workout-exercise-input [propertyName]="('Sets:')"
                                        [stepSize]="1"
                                        [min]="1"
                                        [(propertyValue)]="workoutEx.setsAndReps.length"></app-workout-exercise-input>

            <app-workout-exercise-input [propertyName]="('Reps:')"
                                        [stepSize]='1'
                                        [min]='1'
                                        (click)="editReps(repsVal[i], i)"
                                        [(propertyValue)]="repsVal[i]"></app-workout-exercise-input>

            <app-workout-exercise-input [propertyName]="('Weight:')"
                                        [stepSize]='10'
                                        [min]='1'
                                        [smallerStep]="1.5"
                                        [(propertyValue)]="workoutEx.weight"></app-workout-exercise-input>

            <app-workout-exercise-input [propertyName]="('Rest between reps:')"
                                        [stepSize]='1'
                                        [min]='0'
                                        [(propertyValue)]="workoutEx.restDuration"></app-workout-exercise-input>

            <ion-range (ionChange)="rangeHandler($event, workoutEx)"
                       [ticks]="true" [snaps]="true" step="50" [min]="0" [max]="250">

              <ion-label slot="start">0</ion-label>

              <ion-label slot="end">2.5</ion-label>
            </ion-range>

            <ion-item>
              <ion-label >Progressive Overload:</ion-label>

              <ion-label >{{workoutEx.progressiveOverload }}</ion-label>
            </ion-item>


          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-item-sliding>

  </ion-list>
</ion-content>
