<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Select Workout</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button size="small">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngIf="btnIsDisabled">
        <ion-icon name="add-sharp" color="success"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!btnIsDisabled" (click)="deleteAlert()">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
  <div *ngIf="(stateManagerService.observableWorkouts |async )?.length ===0 ;else other_content">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Keep Up The Good Work !
        </ion-card-title>
        <ion-card-subtitle>
          <ion-icon class="charge" name="battery-charging-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Recharge And Come Back Another Day&nbsp;&nbsp;</ion-label>
          <ion-icon class="work" name="barbell-outline"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </div>

  <ng-template #other_content>
    <app-workout-card *ngFor="let workout of stateManagerService.observableWorkouts |async "
                      [workout]="workout"
                      [startDate]="workout.startWorkoutTimeStamp.toMillis()">
    </app-workout-card>
  </ng-template>
  <!--  <div *ngFor="let workout of stateManagerService.observableWorkouts |async ">-->
  <!--    <app-workout-card [workout]="workout"-->
  <!--                      [startDate]="workout.startWorkoutTimeStamp.toMillis()">-->

  <!--    </app-workout-card>-->
  <!--  </div>-->


</ion-content>
