<ion-header>
  <ion-toolbar>
    <ion-title>fetchedExercises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()" >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Select fetchedExercises</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>

<!--    <ion-accordion-group  [multiple]="true">-->
<!--      <ion-accordion *ngFor="let workoutEx of workoutExercises" [value]="workoutEx">-->
<!--        <ion-item slot="header" color="light">-->
<!--          <ion-label>{{workoutEx.workoutExercise.name}}</ion-label>-->
<!--        </ion-item>-->
<!--        <div class="ion-padding" slot="content">First Content</div>-->
<!--      </ion-accordion>-->
<!--    </ion-accordion-group>-->

  </ion-list>
</ion-content>
