<ion-header>
  <ion-toolbar>
    <ion-title>Work-Out Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button *ngIf="workoutExercises.length>0" (click)="openModal()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Select fetchedExercises</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>

    <ion-item-sliding *ngFor="let workoutEx of workoutExercises">
      <ion-item-options side="start">
        <ion-item-option color="danger"  (click)='removeWorkOutExerciseHandler(workoutEx.workoutExercise)'>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>


      <ion-accordion-group (ionChange)="accordionHandler($event)">
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>{{workoutEx.workoutExercise.name}}</ion-label>
          </ion-item>
          <ion-grid slot="content">
            <app-workout-exercise-input [propertyName]="('Sets:')"
                                        [propertyValue]="workoutEx.sets"></app-workout-exercise-input>

            <app-workout-exercise-input [propertyName]="('Reps:')"
                                        [propertyValue]="workoutEx.reps"></app-workout-exercise-input>

            <app-workout-exercise-input [propertyName]="('Weight Kg:')"
                                        [propertyValue]="workoutEx.weight"></app-workout-exercise-input>

            <app-workout-exercise-input [propertyName]="('Rest between sets:')"
                                                      [propertyValue]="workoutEx.restDuration"></app-workout-exercise-input>
          </ion-grid>
        </ion-accordion>
      </ion-accordion-group>
    </ion-item-sliding>

  </ion-list>
</ion-content>
