<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Routine Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-accordion-group  *ngFor="let gw of stateManagerService.observableGroupedWorkouts|async; let i = index">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{'Week'+ (' ') + (i+1)}}</ion-label>
      </ion-item>
      <ion-grid slot="content" >
        <ion-row *ngFor="let workout of gw" >
          <ion-col  size="4" size-md="2" >{{workout.startWorkoutTimeStamp.toMillis() | date : 'cccc'}}</ion-col>
          <ion-col size="6" size-md="8">{{workout.workoutName}}</ion-col>
          <ion-col  class="ion-text-right" >
            <ion-icon *ngIf='workout.isCompleted' name='checkmark-circle'
                      color='success'  style="margin-right: 0.65rem"></ion-icon>
            <ion-icon *ngIf='!workout.isCompleted' name='alert-circle'
                      color='warning'  style="margin-right: 0.65rem" ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
