<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Routine Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-accordion-group *ngFor="let gw of stateManagerService.observableGroupedWorkouts|async; let i = index">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{'Week' + (' ') + (i + 1)}}</ion-label>
      </ion-item>
      <ion-item slot="content" lines="none" *ngFor="let workout of gw">
        <ion-icon *ngIf='workout.isCompleted' name='checkmark-circle'
                  color='success' ></ion-icon>
        <ion-icon *ngIf='!workout.isCompleted' name='close-circle'
                  color='warning' ></ion-icon>
        <ion-label style="font-style: italic; font-size: 14px" class="ion-margin-start">

          {{workout.startWorkoutTimeStamp.toMillis() | date : 'cccc'}}
          <span> ~ </span>
          {{workout.workoutName}}
        </ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
